services:
  openldap:
    image: bitnamilegacy/openldap:latest
    container_name: openldap
    env_file:
      - .env
    volumes:
      - openldap-data:/openldap-data
      - ./certs:/opt/bitnami/openldap/certs
      - ./schemas:/schemas
      - ./ldifs:/ldifs

    ports:
      - '389:1389'
      - '636:1636'

volumes:
  openldap-data:
